* {
    box-sizing: border-box;
    max-width: 1366px;
}
body {
    background-color: #1b6588;
    font-family: serif;
    color:aliceblue;
}
h1 {
    font-size: 72px;
   padding-top: 20px;
   text-align: center;
   text-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.works {
    margin-top: 50px;
    margin-left: 70px;
}
.works_list {
    float:left;
    width: 33%;
    padding-left: 2em;
    padding-bottom: 60px;
}
img {
    width: 320px;
    height: 180px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
@media (max-width:768px) {
    body {
        margin: 0;
    }
    h1 {
        font-size: 60px;
        text-align: center;
    }
    .works_list {
        float: left;
        width: 50%;
        padding-left: inherit;
        padding-bottom: 60px;
    }
    img {
        width: 240px;
        height: 135px;
    }
}
@media (max-width:428px) {
    body {
        margin: 0;
    }
    h1 {
        font-size: 70px;
        text-align: center;
    }
    .works_list {
        float: none;
        padding-left: 18px;
        padding-bottom: 40px;
    }
    img {
        width: 240px;
        height: 135px;
    }
}
